<style>
   .highcharts-candlestick-series .highcharts-point {
   stroke: $neutral-color-100;
   stroke-width: 1px;
   }
   .highcharts-candlestick-series .highcharts-point-up {
   fill: $background-color;
   }
   .highcharts-ohlc-series .highcharts-point-hover {
   stroke-width: 3px;
   }
   .highcharts-data-table table {
   border-collapse: collapse;
   border-spacing: 0;
   background: white;
   min-width: 100%;
   margin-top: 10px;
   font-family: sans-serif;
   font-size: 2.0em;
   }
   .highcharts-data-table td,
   .highcharts-data-table th,
   .highcharts-data-table caption {
   border: 1px solid silver;
   padding: 0.5em;
   }
   .highcharts-data-table tr:nth-child(even),
   .highcharts-data-table thead tr {
   background: #f8f8f8;
   }
   .highcharts-data-table tr:hover {
   background: #eff;
   }
   .highcharts-data-table caption {
   border-bottom: none;
   font-size: 1.1em;
   font-weight: bold;
   }
</style>
<!--nse div--------->
<div ng-controller="nseController">
   <div class="modal-body row">
      <div class="col-md-8">
         <div class="container-fluid typeahead-demo">
            <center>
               <h4> Stock Detail</h4>
            </center>
            <input type="text" id="hide" ng-model="selected" uib-typeahead="Stock as (stock.name + ' ' + stock.code + ' ') for stock in nseStocks | filter:$viewValue | limitTo:12" class="form-control" autofocus="true" placeholder="Type your Stock Code / Name " typeahead-on-select="fetchStockDetails($item, $model, $label, $event)">
            <br>
            <input type="button" value="Open Tab" ng-click="windowPop()" />
            <button id="opener">Color Code</button>
            <h4>{{stockid}}</h4>
            <div id="tabs">
               <ul>
                  <li class="active"><a href="#tabs-1" id="EXP1" title={{stockid}}:{{title1}}>EXP1 : {{title1}}</a></li>
                  <li class="active"><a href="#tabs-2" id="EXP2" title={{stockid}}:{{title2}}>EXP2 : {{title2}}</a></li>
                  <li class="active"><a href="#tabs-3" id="EXP3" title={{stockid}}:{{title3}}>EXP3 : {{title3}}</a></li>

               </ul>
               <div id="tabs-1">
                  <div id="tabs3">
                     <ul>
                        <li><a href="#tabs3-1">1Min</a></li>
                        <li><a href="#tabs3-2">3Min</a></li>
                        <li><a href="#tabs3-3">5Min</a></li>
                        <li><a href="#tabs3-4">10Min</a></li>
                        <li><a href="#tabs3-5">15Min</a></li>
                        <li><a href="#tabs3-6">30Min</a></li>
                        <li><a href="#tabs3-7">60Min</a></li>
                        <li><a href="#tabs3-8">120Min</a></li>
                        <li><a href="#tabs3-9">240Min</a></li>
                        <li><a href="#tabs3-10">Daily</a></li>
                        <li><a href="#tabs3-11">Weekly</a></li>
                        <li><a href="#tabs3-12">Monthly</a></li>

                   </ul>
                     <div id="tabs3-1">
                        <div class="chart-outer" id="container1" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs3-2">
                        <div class="chart-outer7" id="container2" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs3-3">
                        <div class="chart-outer" id="container3" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs3-4">
                        <div class="chart-outer" id="container4" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs3-5">
                        <div class="chart-outer17" id="container5" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs3-6">
                        <div class="chart-outer" id="container6" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs3-7">
                        <div class="chart-outer" id="container7" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs3-8">
                        <div class="chart-outer" id="container8" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs3-9">
                         <div class="chart-outer" id="container9" style="height: 400px; min-width: 310px"></div>
                     </div>
                  </div>
               </div>
               <div id="tabs-2">
                  <div id="tabs4">
                     <ul>
                        <li><a href="#tabs4-1">1Min</a></li>
                        <li><a href="#tabs4-2">3Min</a></li>
                        <li><a href="#tabs4-3">5Min</a></li>
                        <li><a href="#tabs4-4">10Min</a></li>
                        <li><a href="#tabs4-5">15Min</a></li>
                        <li><a href="#tabs4-6">30Min</a></li>
                        <li><a href="#tabs4-7">60Min</a></li>
                        <li><a href="#tabs4-8">120Min</a></li>
                        <li><a href="#tabs4-9">240Min</a></li>
                        <li><a href="#tabs4-10">Daily</a></li>
                        <li><a href="#tabs4-11">Weekly</a></li>
                        <li><a href="#tabs4-12">Monthly</a></li>


                     </ul>
                     <div id="tabs4-1">
                        <div class="chart-outer" id="container11" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs4-2">
                        <div class="chart-outer" id="container12" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs4-3">
                        <div class="chart-outer" id="container13" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs4-4">
                        <div class="chart-outer" id="container14" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs4-5">
                        <div class="chart-outer" id="container15" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs4-6">
                        <div class="chart-outer" id="container16" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs4-7">
                        <div class="chart-outer" id="container17" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs4-8">
                        <div class="chart-outer" id="container18" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs4-9">
                      <div class="chart-outer" id="container19" style="height: 400px; min-width: 310px"></div>
                       </div>
                  </div>
               </div>
               <div id="tabs-3">
                  <div id="tabs5">
                     <ul>
                        <li><a href="#tabs5-1">1Min</a></li>
                        <li><a href="#tabs5-2">3Min</a></li>
                        <li><a href="#tabs5-3">5Min</a></li>
                        <li><a href="#tabs5-4">10Min</a></li>
                        <li><a href="#tabs5-5">15Min</a></li>
                        <li><a href="#tabs5-6">30Min</a></li>
                        <li><a href="#tabs5-7">60Min</a></li>
                        <li><a href="#tabs5-8">120Min</a></li>
                        <li><a href="#tabs5-9">240Min</a></li>
                        <li><a href="#tabs5-10">Daily</a></li>
                        <li><a href="#tabs3-11">Weekly</a></li>
                        <li><a href="#tabs3-12">Monthly</a></li>

                     </ul>
                     <div id="tabs5-1">
                        <div class="chart-outer" id="container21" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs5-2">
                        <div class="chart-outer" id="container22" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs5-3">
                        <div class="chart-outer" id="container23" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs5-4">
                        <div class="chart-outer" id="container24" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs5-5">
                        <div class="chart-outer" id="container25" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs5-6">
                        <div class="chart-outer" id="container26" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs5-7">
                        <div class="chart-outer" id="container27" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs5-8">
                        <div class="chart-outer" id="container28" style="height: 400px; min-width: 310px"></div>
                     </div>
                     <div id="tabs5-9">
                        <div class="chart-outer" id="container29" style="height: 400px; min-width: 310px"></div>
                  </div>
                 </div>
               </div>

            </div>
        <!---popup window-->
            <br>
            <div id="wrapper">
               <div>
                  <table class="table table-striped table-bordered">
                     <tr>
                        <th>Color</th>
                        <th>Explanation</th>
                     </tr>
                     <tr>
                        <td bgcolor="RED">
                           <a style="color:black;font-size:12px;">RED
                        </td>
                        <td>candle data</td>
                     </tr>
                     <tr>
                     <td bgcolor="GREEN"><a style="color:black;font-size:12px;">GREEN</td>
                     <td>Candle data</td>
                     </tr>
                     <tr>
                     <td bgcolor="BLUE"><a style="color:black;font-size:12px;">BLUE</td>
                     <td>Candle data</td>
                     </tr>
                     <tr>
                     <td bgcolor="YELLOW"><a style="color:black;font-size:12px;">YELLOW</td>
                     <td>Candle data</td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <!--col8-->
      <div class="col-md-4">
      <div id="accordion">
      <h3>Peers Details</h3>
      <div>
      <table class="table table-striped table-bordered" id="table1">
      <div class="container-fluid typeahead-demo">
      <center>
      <h4>Peers List</h4>
      </center>
      <thead>
      <tr>
      <h4>
      <th>CODE</th>
      </h4>
      <h4>
      <th>NAME</th>
      </h4>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in peersdata">
      <td bgcolor="{{item.color}}"><a style="color:black;font-size:12px;" href="" ng-click="prepareChart(item.symbol)">{{item.symbol}}</a></td>
      <td bgcolor="{{item.color}}"><a style="color:black;font-size:12px;" href="" ng-click="prepareChart(item.symbol)">{{item.name}}</a></td>
      </tr>
      </tbody>
      </div>
      </table>
      </div>
      <h3>BT/ST/OT Details</h3>
      <div>
      <table class="table table-striped table-bordered" id="table">
      <div class="container-fluid typeahead-demo">
      <center>
      <h4> Watch List</h4>
      </center>
      <thead>
      <tr>
      <th>BT</th>
      <th>ST</th>
      <th>OT</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="stock in stList |filter:searchText track by $index">
      <td bgcolor="{{stock.color}}"><a style="color:black;font-size:12px;" href="" ng-click="prepareChart( btList[$index].code)">{{ btList[$index].code }}</td>
      <td bgcolor="{{stock.color}}"><a style="color:black;font-size:12px;" href="" ng-click="prepareChart( stList[$index].code)">{{ stList[$index].code }}</td>
      <td bgcolor="{{stock.color}}"><a style="color:black;font-size:12px;" href="" ng-click="prepareChart( otList[$index].code)">{{ otList[$index].code }}</td>
      </tr>
      </tbody>
      </div>
      </div>
      </div>
      </div>
      <!--col4>-->
   </div>
</div>
<!--end of nse div--------->

</div>
<script>
   $(document).ready(function() {
       $('[data-toggle="tooltip"]').tooltip();
   });

   $('#wrapper').dialog({
       autoOpen: false,
       title: 'Legend popup'
   });
   $('#opener').click(function() {
       $('#wrapper').dialog('open');
       return false;
   });


   $(function() {
       $("#accordion").accordion({
           heightStyle: "content",
           height: 100,
           width: 100
       });
   });



   $(function() {
       $("#tabs").tabs({active: 0 });
   });
   $(function() {
   $("#tabs3").tabs({active:2});
   });

   $(function() {
   $("#tabs4").tabs({active:2});
   });

   $(function() {
     $("#tabs5").tabs({active:2});
   });

   $(function() {$(tabs).tooltip();});
</script>
